pandas
numpy
seaborn
ipykernel
ensure==1.0.2
emoji
nltk
dill
autocorrect
advertools
bs4
transformers
scikit-learn
joblib
xgboost
catboost
Flask
transformers
# torch
tensorflow
tf-keras
imbalanced-learn


# -e .